Load the data

In [12]:
import pandas as pd

data = pd.read_csv('nfl_data.csv')
data.sample(10)

                 home_team          visiting_team home_result
291  Washington Commanders   Jacksonville Jaguars           W
228     Cincinnati Bengals       Baltimore Ravens           W
17       Carolina Panthers     New Orleans Saints           W
233    Philadelphia Eagles        New York Giants           W
333         Dallas Cowboys  Washington Commanders           W
451          New York Jets          Chicago Bears           W
358      Carolina Panthers    San Francisco 49ers           L
201         Denver Broncos          Detroit Lions           W
332     New Orleans Saints      Minnesota Vikings           L
331     Cincinnati Bengals         Miami Dolphins           W

In [13]:
data.dtypes

home_team        object
visiting_team    object
home_result      object
dtype: object

In [14]:
def set_value(row_number, assigned_value):
	return assigned_value[row_number]

event_dictionary ={'L' : 0, 'W' : 1}

data['home_result'] = data['home_result'].apply(set_value, args =(event_dictionary, ))

data.sample(10)

                home_team        visiting_team  home_result
548      Seattle Seahawks     Los Angeles Rams            1
426   Pittsburgh Steelers   New Orleans Saints            1
525  Tampa Bay Buccaneers    Carolina Panthers            1
332    New Orleans Saints    Minnesota Vikings            0
411         New York Jets        Buffalo Bills            1
373      Los Angeles Rams    Carolina Panthers            1
160    Kansas City Chiefs       Dallas Cowboys            1
534     Green Bay Packers    Minnesota Vikings            1
402      Los Angeles Rams  San Francisco 49ers            0
391  Tampa Bay Buccaneers     Baltimore Ravens            0

Split the data

In [16]:
from sklearn.model_selection import train_test_split

features = ['home_team', 'visiting_team']
label = ['home_result']
X_train, X_test, y_train, y_test = train_test_split(data[features].values, data[label].values, test_size=0.30, random_state=0)

Preprocess and Create Pipeline

In [23]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

categorical_features = [0,1]
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [24]:
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(transformers=[
    ('cat', categorical_transformer, categorical_features)
])

In [44]:
from sklearn.linear_model import LogisticRegression

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LogisticRegression())
])

Train the model

In [41]:
model = pipeline.fit(X_train, y_train)

C:\ProgramData\Miniconda3\lib\site-packages\sklearn\utils\validation.py:1141: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [42]:
predictions = model.predict(X_test)

Evaluate the model

In [46]:
from sklearn.metrics import classification_report

print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.55      0.60      0.58        73
           1       0.67      0.62      0.64        95

    accuracy                           0.61       168
   macro avg       0.61      0.61      0.61       168
weighted avg       0.62      0.61      0.61       168

In [48]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, predictions)
print(cm)

[[44 29]
 [36 59]]